<header>
  <h1>Simple Pricing.</h1>
  <h1>Try before you buy.</h1>
</header>

<div class="mid">

<div class="center_box">

  <div class="heading" id="personal">
    <h3 id="title">PERSONAL</h3>
    <h4 id="price">$5</h4>
    <h5 id="per month">PER MONTH</h5>
  </div>

  <table>
    <tr>
      <td>
        Free setup
      </td>
    </tr>
    <tr>
      <td>
        Custom sub-domain
      </td>
    </tr>
    <tr>
      <td>
        Standard customer support
      </td>
    </tr>
    <tr>
      <td>
        1 GB file storage
      </td>
    </tr>
    <tr>
      <td>
        1 database
      </td>
    </tr>
    <tr>
      <td>
        Unlimited bandwith
      </td>
    </tr>
    <tr>
      <td id="b_row">
        <a href="#" class="button">Choose</a>
      </td>
    </tr>
  </table>

</div>

<div class="center_box">
  <div class="heading" id="smallbusiness">
    <h3 id="title">SMALL BUSINESS</h3>
    <h4 id="price">$25</h4>
    <h5 id="per month">PER MONTH</h5>
  </div>
  <table>
    <tr>
      <td>
        Free setup
      </td>
    </tr>
    <tr>
      <td>
        Use your own domain
      </td>
    </tr>
    <tr>
      <td>
        Standard customer support
      </td>
    </tr>
    <tr>
      <td>
        10 GB file storage
      </td>
    </tr>
    <tr>
      <td>
        5 databases
      </td>
    </tr>
    <tr>
      <td>
        Unlimited bandwith
      </td>
    </tr>
    <tr>
      <td id="b_row">
        <a href="#" class="button">Choose</a>
      </td>
    </tr>
  </table>

</div>

<div class="center_box">
  <div class="heading" id="enterprise">
    <h3 id="title">ENTERPRISE</h3>
    <h4 id="price">$45</h4>
    <h5 id="per month">PER MONTH</h5>
  </div>

  <table>
    <tr>
      <td>
        Free setup
      </td>
    </tr>
    <tr>
      <td>
        Use your own domain
      </td>
    </tr>
    <tr>
      <td>
        Premium customer support
      </td>
    </tr>
    <tr>
      <td>
        Unlimited file storage
      </td>
    </tr>
    <tr>
      <td>
        25 databases
      </td>
    </tr>
    <tr>
      <td>
        Unlimited bandwith
      </td>
    </tr>
    <tr>
      <td id="b_row">
        <a href="#" class="button">Choose</a>
      </td>
    </tr>
  </table>
</div>
</div>

<div class="paragraph">
  <div class="paragraphs1">
    <h2>GET STARTED TODAY</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <h2>CANCEL YOUR PLAN ANYTIME</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  </div>

  <div class="paragraphs2">
    <h2>PAY MONTHLY OR ANNUALLY</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

    <h2>24/7 CUSTOMER SUPPORT</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>
